@CHARSET "UTF-8";
html{
	width:100%;
	height:100%;
}
body{
	background-color: #c6bffb;
	font-family: 'sans-serif';
	width: 100%;
	height:100%;
	text-align: center;
	margin: 0;
	position: absolute;
	top: 0;
}

textarea{
	    resize: none;
}

.my-small {
  font-size: 0.9em
  /*0.8倍の大きさに*/
}


.newHeader{
width: 100%;
    height: 47px;
    font-size: 30px;
    font-weight: bolder;
    text-align: left;
    padding-top: 3px;
    padding-left: 3px;
    position: absolute;
    top: 0;
    position: fixed;
    left: 0;
    color: rgba(240,240,240,1);
    background-color: #451f5c;
}

#welcome{
    position: fixed;
    right: 13px;
    color: rgba(240,240,240,1);
    /* background-color: #451f5c; */
    font-size: 14px;
    top: 0px;

}


#copyright{
	font-size: 12px;
    width: 100%;
    height: 50px;
    color: rgba(240,240,240,1);
    background-color: #451f5c;
	left: 0;
	text-align: center;
	line-height: 420%;

}

div{
	background-color: rgba(240,240,240,1);
}


.square_btn{
	font-size:13px;
	margin-top: 5px;
    display: inline-block;
    padding: 0.5em 1em;
    font-weight: bolder;
    text-decoration: none;
    background-color:rgba(240,240,240,1);
    color: #451f5c;
    border: solid 1px #451f5c;
    border-radius: 4px;
    text-align:center;

}

.square_btn:hover {
    background: #451f5c;
    color: rgba(240,240,240,1);
}

.square_btn:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(2px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}

.square_btn_r{
	font-size:13px;
	margin-top: 5px;
    display: inline-block;
    padding: 0.5em 1em;
    font-weight: bolder;
    text-decoration: none;
    background-color:#c6bffb;
    color: #451f5c;
    border: solid 1px #451f5c;
    border-radius: 4px;
    text-align:center;

}

.square_btn_r:hover {
    background: #451f5c;
    color: #c6bffb;
}

.square_btn_r:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(2px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}

.errorMessages{
	height: 25%;
	padding:1% 20% 1% 20%;
	font-size: 13px;
	color: red;
}

/* .main_contents{
	margin-top: 75px;
}
 */

#onePage_right_area{
	color: #451f5c;
	background-color: rgba(240,240,240,1);
    width: 60%;
    height: 77%;
	margin-top: 60px;
    margin-left: 30%;
    margin-right: 10%;
    margin-bottom: 20px;
    top: 50px;
	vercal-align: center;
	text-align: center;
	padding: auto;

}

#onePage_left_area {
    position: fixed;
    text-align: center;
    vertical-align: middle;
    float: left;
    height: 50%;
    margin-top: 30px;
    top: 50px;
    width: 18%;

    border-color: #451f5c;
    bottom: 50px;
    background-color: #c6bffb;
}
#onePage_copyright {
	font-size: 12px;
    width: 100%;
    height: 50px;
    color: rgba(240,240,240,1);
    background-color: #451f5c;
	left: 0;
	text-align: center;
    position: fixed;
    margin-bottom: 0;
    bottom: 0;
    line-height: 420%;
    }

.link_top{
	top: 50px;
	width: 200px;
	background-color: #451f5c;
	margin: 0px 0px 15px 0px;
}

.link{
	width: 200px;
	margin: 0px 0px 15px 0px;
}


/* ---------- ログイン画面 ------------- */
/* .login_square_btn{
    display: inline-block;
    padding: 0.5em 1em;
    font-weight: bolder;
    text-decoration: none;
    background-color:#451f5c;
    color: rgba(240,240,240,1);
    border: 1px rgba(240,240,240,1);
    border-radius: 1px;
    transition: .4s;
}

.login_square_btn:hover {
    background: #451f5c;
    color: #4d3a4d;
} */


.login_form {
    width: 400px;
    height: 200px;
    margin: auto auto;
    margin-top: 150px;
	padding: 10px;
	text-align: bottom;
	padding-top: 30px;
}

.login_login_id_form{
/* 	padding:10px; */
}


.login_password_form{
	margin-left: 0px;
	margin-bottom: 3px;
}

.test {
	position: absolute;
	bottom: 20px;
	left: 30px;
}

ul{
	padding: 0;
}

.login_form_1{
text-align: left;
    padding-left: 18%;
}

p2{
	margin-bottom: 2px;
    margin-left: -2px;
}
/* ---------- ホーム画面 ------------- */
.home{
	text-align: center;
}

.link_square_btn{
    display: inline-block;
    padding: 0.5em 0 ;
    text-decoration: none;
    background: rgba(240,240,240,1);
    border-left: solid 10px #451f5c;/*左線*/
    color: #451f5c;/*文字色*/
    font-weight: bold;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    width: 100%;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.link_square_btn:hover {
    background: #451f5c;
    color: rgba(240,240,240,1);
    border-left: solid 10px #ebeaf4;
    width:100%;
}

.home-form{
	position: absolute;
	top: 50px;
	margin: auto;
	width: 50%;
	height: 30%;
}

#home_right_area{
	color: #451f5c;
	background-color: rgba(240,240,240,1);
	margin-top: 5%;
	margin-left: 25%;
	margin-right: 5%;
	margin-bottom:3%;

}

#home_left_area {
    position: fixed;
    text-align: center;
    vertical-align: middle;
    float: left;
    height: 70%;
    margin-top: 30px;
    top: 50px;
    width: 20%;

    border-color: #451f5c;
    bottom: 50px;
    background-color: #c6bffb;
}

.link_top{
	top: 50px;
	width: 200px;
	background-color: #451f5c;
	margin: 0px 0px 15px 0px;
}
.link_square_btn{
    display: inline-block;
    padding: 0.5em 0 ;
    text-decoration: none;
    background: rgba(240,240,240,1);
    border-left: solid 10px #451f5c;/*左線*/
    color: #451f5c;/*文字色*/
    font-weight: bold;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    width: 100%;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.search{
	width: 200px;
	background-color: rgba(240,240,240,1);
	margin: 10px 0px 0px 10px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;

}

.mini_header{
    background: #c6bffb;
}

.search_word{
	width:100%;
	margin-top:0;
	font-size: 20px;
	color: rgba(240,240,240,1);
	background-color: #451f5c;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
}

.input_field{
	padding-top: 5px;
	padding-bottom: 20px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
}

.search_date{
	text-align:center;
}

.home_errorMessages{
    float: left;
    height: 22px;
    /* width: 70%; */
    text-align: center;
    padding: 20px 8% 0px 39%;
    color: red;
    left: 1;

}


.number_of_messages{
    right: 54px;
    top: 115px;
    float: right;
    text-align: center;
    width: 24%;
    font-weight: bolder;
    border: solid 1px;
    padding-top: 2px;
    border-radius: 5px;
    margin-right: 41px;
    margin-top: 4%;

}

.contribution{
    padding-top: 55px;
    width: 90%;
    padding: 40px 5px 20px 5px;
    margin-top: 0px;
    margin-left: 4%;
    word-break: break-all;

}

.contribution_title{
    color: rgba(240,240,240,1);
    background-color: #451f5c;
    width: 95%;
    height: 45px;
    margin-top: 25px;
    /* margin-right: 6%; */
    padding: 15px 5px 0px 4.25%;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    font-size: 20px;
    font-weight: bolder;
    text-align: left;
}

.text{
    font-size: 15px;
    /* border-bottom-right-radius: 7px; */
    /* border-bottom-left-radius: 7px; */
    border-left: solid 2px #451f5c;
    border-right: solid 2px #451f5c;
   /*  border-bottom: solid 1px #451f5c; */
    border-bottom: dashed 1px #451f5c;
    padding: 3% 4% 5% 4%;
    text-align: left;
    word-break: break-all;
}

.category{
	font-size:12.5px;
    margin-top: 10px;
/*     border-top: dashed 1px #451f5c; */
    padding-top: 8px;
    width: 99%;
}

.user_name{
	padding-top: 2px;
	font-size:12.5px;
	width:50%;
	float:left;

}

.date{
	font-size:12.5px;
	width:50%;
	float:left;
}

.delete{
	float:right;
    margin: -25px 5px 0px 0px;
}

.comment{

	font-size: 15px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
    border-left: solid 2px #451f5c;
    border-right: solid 2px #451f5c;
    border-bottom: solid 2px #451f5c;
    padding:2% 4% 6% 4%;
    text-align: left;
}

.number_of_comments{
    background-color: transparent;
    margin-bottom: 7px;
    font-weight: bolder;
    margin-top: -80px;
    padding-top: 80px;
}

.comment_text{
	padding-left:18px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right:18px;
	border-width:90%;
	/* border-bottom:dashed 1px #c6bffb; */
	border-top: solid 2px #c6bffb;
	border-left: solid 2px #c6bffb;
    border-right: solid 2px #c6bffb;
  	border-top-right-radius: 5px;
   	border-top-left-radius: 5px;
   	word-break: break-all;
}



.comment_user_name{;
    border-top: dashed 1px #c6bffb;
    padding-top: 8px;
    /* width: 96%; */
    font-size: 12.5px;
    padding-top: 7px;
    padding-left: 18px;

    border-left: solid 2px #c6bffb;
    border-right: solid 2px #c6bffb;
}


.comment_date{
	font-size:12.5px;
	padding-bottom: 7px;
	padding-left:18px;
	margin-bottom:10px;
	border-left: solid 2px #c6bffb;
    border-right: solid 2px #c6bffb;
    border-bottom: solid 2px #c6bffb;
    border-bottom-right-radius: 5px;
   	border-bottom-left-radius: 5px;
}

.input_comment{
	background-color:transparent;
	margin-top:-62px;
	padding-top:62px;
	resize: none;
}

.commentErrorMessages{
    font-size: 15px;
    height: 20px;
    color: red;
}

.deleteComment{
	float:right;
    margin: -60px 5px 0px 0px;
    height:0;

}

.commentDeleteMessages{
	margin-top: -77px;
    padding-top: 77px;
    background-color: transparent;
    color: red;
    padding-bottom: 10px;
}

/* ---------- ユーザー新規登録/編集 ------------- */

#sign_up #copyright{
	position: absolute;
	bottom: 0;
}

.sign_up_errorMessages{
height: 30%;
    padding: 8px 20% 0px 20%;
    margin-bottom: -10px;
    font-size: 13px;
    color: red;
}
.sign_up_input_form{
    width: 56%;
    text-align: left;
    padding-top: 1%;
    padding-left: 25%;
    padding-right: 17%;
    line-height: 160%;

}

.input_login_id_form{
	margin-bottom: 2px;

}
p1{	margin-bottom: 2px;
    margin-left: 14px;
}
.input_password_form{
	margin-bottom: 2px;
}
.input_checkpassword_form{
	margin-bottom: 2px;
}
.input_user_name_form{
	margin-bottom: 3px;
}


.sign_up_btn{

	text-align:center;
	padding-right:30%;
	padding-left:10%;
}

.edit_errorMessages{
	height: 30%;
	padding:1% 18% 1% 18%;
	font-size: 13px;
	color: red;
}
.edit_input_form{
    width: 56%;
    text-align: left;
    padding-left: 25%;
    padding-right: 17%;
    line-height: 172%;
    margin-top: -14px;
    }

/* ---------- 新規投稿 ------------- */

.newMessage_input_form{
    /* border: solid 2px; */
    /* border-radius: 7px; */
    /* height: 300px; */
    text-align: left;
    padding: 0px 15px 15px 43px;
    margin: 0px 20px 20px 20px;
    /* padding-top: 22px; */
    /* padding-bottom: 22px; */
    resize: none;
    line-height: 245%;
}
.contribute_btn{
	text-align:center;
	padding-right:20%;
	padding-left:10%;
}

.contribute_errorMessages{
    height: 15%;
    padding: 2% 20% 1% 20%;
    font-size: 13px;
    color: red;
}


/* ---------- ユーザー管理 ------------- */

.management_errorMessages{
    float: left;
    height: 22px;

    /* width: 70%; */
    text-align: center;
    padding: 7px 8% 3px 39%;
    color: red;
    left: 1;
}



#management_right_area{
    color: #451f5c;
    background-color: rgba(240,240,240,1);
    margin-top: 80px;
    margin-left: 25%;
    margin-right: 5%;
    margin-bottom: 40px;

}

.main-contents{
	    text-align: center;
    padding-top: 20px;
    padding-left: 3%;
    padding-right: 2%;

    padding-bottom: 20px;
}

.management_header{

	font-size:13.5px;
	color: #ebeaf4;
	background-color: #451f5c;
}

table {
	margin-top:2%;
	margin-left:2%;
	margin-right:2%;
	margin-bottom:2%;
  border-collapse: collapse;
  border-collapse: collapse;
  border: solid 2px #451f5c;/*表全体を線で囲う*/
}
table th, table td {
  border: solid 1px #451f5c;
}

table th{
/* 	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px; */
	border: solid 1px rgba(240,240,240,1);

}

table td{
padding-top:5px;
	padding-bottom:5px;
	padding-left:7px;
	padding-right:7px;
}

.m_square_btn{
	font-size:10.5px;
	margin: 3px;
    display: inline-block;
    padding: 0.5em 1em;
    font-weight: bolder;
    text-decoration: none;
    background-color:rgba(240,240,240,1);
    color: #451f5c;
    border: solid 1px #451f5c;
    border-radius: 4px;
    text-align:center;

}

.m_square_btn:hover {
    background: #451f5c;
    color: rgba(240,240,240,1);
}

.m_square_btn:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(2px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}

.m1_square_btn{
	font-size:10.5px;
	margin: 3px;
    display: inline-block;
    padding: 0.5em 1em;
    font-weight: bolder;
    text-decoration: none;
    background-color:#c6bffb;
    color: #451f5c;
    border: solid 1px #451f5c;
    border-radius: 4px;
    text-align:center;

}

.m1_square_btn:hover {
    background: #451f5c;
    color: #c6bffb;
}

.m1_square_btn:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(2px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}